body {
  margin: 0px; }

.logo {
  display: inline-block; }

.nav {
  display: block;
  background-color: #017bd7;
  margin: 0;
  padding: 10px;
  color: #fff; }

.quote-block {
  background-color: #fff;
  color: #111;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: 10px auto;
  width: 450px;
  border: 2px solid black; }
  @media screen and (max-width: 420px) {
    .quote-block {
      width: auto; } }

.quote-block-header img.user-icon {
  width: 30px;
  border-radius: 50%;
  display: inline-block; }

.quote-block-header p {
  display: inline-block; }

.welcome-user {
  display: inline-block;
  float: right; }
  .welcome-user a {
    color: #fff; }
    .welcome-user a:hover {
      border-color: #fff; }
